.sort-container {
  display: inline-block;
  margin-left: $table-sort-container-margin-left;
  user-select: none;
}

.sort-svg {
  vertical-align: baseline;
}
.sort {
  stroke: $table-sort-color;
  fill: $table-sort-color;
}
.sort-fill {
  fill: $table-sort-full-color;
}
